Thumbs.db
ehthumbs.db
Desktop.ini
.project
.settings/*
.settings
target
.classpath
*/root-context.xml
management/src/main/webapp/WEB-INF/spring/root-context.xml
portal/src/main/webapp/WEB-INF/spring/root-context.xml
portal/src/main/webapp/WEB-INF/spring/root-context.xml
