#container{background-color:#E8E8E7; position: relative;width: 1000px;margin:0 auto;height: 100%;}
.header{background-color: #E9FBFA; position: relative; margin: 0 auto;height: 40px;width: 1000px;border-bottom: 1px solid #E57517}
.footer{background-color: #E9FBFA; position: relative; margin: 0 auto;width: 1000px;border-top: 1px solid #E57517;border-bottom: 1px solid #E57517;text-align: center;z-index: 1000;}
.footer a,#WideBtn,#ThinBtn{white-space: nowrap;padding: 10px; background: #E57517; color: #fff;display: inline-block;margin-left: 50px;cursor: pointer;}
.footer a.current{background: #e9fbfa; color: #E57517;border: 1px solid #E57517;}
#canvas{display: block;border: 6px solid #9D9D9C;margin:15px auto;}
h2{text-align: center;}
#controller{
    border-radius: 20px;
    border: 1px solid grey;
    width: 200px;
    height:100px;
    position: absolute;
    top:10px;
    left:10px;
}
#controller a{
    background: #808080;
    color:#ffffff;
    text-decoration: none;
    line-height: 35px;
    text-align: center;
    position: absolute;
    display: block;
    width:50px;
    height:35px;
    border:1px solid #808080;
    border-radius: 20px;
}
#confirm,#gotest,#gotip{
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
   
    height: 31px;
    margin: 10px 0;
    text-align: center;
    line-height: 31px;
    margin-left:47%;
}
#gotip{background-color:#F58E23;color:#fff;margin-left: 14px;}
#gotest{margin-left: 120px;}
.yes-confirm{background-color:#03AFE8;color:#fff;}
.no-confirm{background-color:#7C7C7D;color:#A6A6A5;}
.pagination-bullet{margin: 0 5px;width: 8px;height: 8px;display: inline-block;border-radius: 100%;background: #000;opacity: .2;}
.pagination-bullet-active { opacity: 1; background: #E86800; }
.test-tip-span{ color: blue;left: 100px;display: inline-block;position: absolute;font-size: 16px;line-height: 61px; }